<%- include header %>
<div class="content">
    <h3>算法列表:</h3>
    <% algorithms.forEach(function(a) {%>
        <a href="/algorithm/<%= a.url %>">《<%= a.title %>》</a><br />
    <% }); %>
</div>
<%- include footer %>
