<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Algorithm.CC</title>
        <meta name="Keywords" content="<%= doc.keyword %>">
        <meta name="Description" content="<%= doc.description %>">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/algorithm.js"></script>
        <script type="text/javascript">
            $(function () {
                    $("body").css("background",get_random_background);
                    $(".navbar").css("background-color", get_random_nav);

                    $.scrollUp({
                        scrollText: '',
                    });
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-static-top bs-docs-nav" role="banner" id="top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="algorithm.cc">
                        Al<span style="color:green">go</span>rithm.<span style="color:green">CC</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="mailto:henglin1991@gmail.com">提意见</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="input-group cpt-width-300">
                            <input type="text" class="form-control" placeholder="Search Algorithm...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
