<%- include header %>
<div class="content">
    <h1 style="text-align:center;margin-top:20%">
        Al<span style="color:green">go</span>rithm.<span style="color:green">CC</span>
    </h1>
    <p style="text-align:center">It Is Still Be Coding, Please Wait For A Moment...</p>
</div>
<%- include footer %>
