<%- include header %>
<div class="content">
    <div class="cpt-middle">
    <h1>
        Al<span style="color:green">go</span>rithm.<span style="color:green">CC</span>
    </h1>
    <p>It Is Still Be Coding, Please Wait For A Moment...</p>
    </div>
</div>
<%- include footer %>
