<%- include header %>

<div class="cpt-middle">
    <form method="post" action="/login" class="cpt-form">
        <input type="text" placeholder="User" name="name" class="form-control cpt-width-400"/>
        <input type="password" placeholder="Password" name="password" class="form-control cpt-width-400"/>
        <input type="submit" value="Submit" class="btn cpt-bottom"/>
    </form>
</div>

<%- include footer %>
