<%- include header %>

</script>

<div>
    <form method="post" action="/adduser">
        <input type="text" placeholder="username" name="username" />
        <input type="text" placeholder="email" name="useremail"></input>
        <input type="submit" value="Add"/>
    </form>
</div>
<%- include footer %>
