body {
    font: 14px Microsoft Yahei, Georgia, serif;
}

a {
    color: #00B7FF;
}

.content {
    height: 2000px;
    margin: 30px 70px;
}


.orange {
    background-color: rgba(255, 140, 0, 0.2);
}

.cyan {
    background-color: rgba(0, 255, 255, 0.2);
}

.green {
    background-color: rgba(124, 252, 0, 0.2);
}

.cpt-width-300 {
    width: 300px;
}

.cpt-width-400 {
    width: 400px;
}

.cpt-width-900 {
    width: 900px;
}

.cpt-form input {
    margin: 10px;
}

.cpt-form input.cpt-bottom {
    margin-bottom: 100px;
}

.cpt-middle {
    text-align: center;
    width: 410px;
    margin: 20% auto;
}

.cpt-breadcrumb>li+li:before {
    content: ">>";
    padding: 15px 0px;
    color: #ccc;
    float: left;
}

.cpt-breadcrumb li a{
    float: left;
}

.cpt-breadcrumb a:hover {
    color: #999;
}

.array {
    padding: 20px 40px;
    border-collapse: collapse;
}

#my-affix li {
    margin: 10px 0px;
}


.array-ele {
   border: 1px solid black;
   display: table-cell;
   padding: 15px 20px;
}


#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 48px; 
	width: 48px; 
	background: url(../img/top.png) no-repeat;
}
